# Source global definitions
if [ -f /etc/bashrc ]; then
        . /etc/bashrc
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin/:$HOME/bin:" ]]
then
     PATH="$HOME/.local/bin:$HOME/bin:$PATH
fi
export PATH

oldps1=$PS1
PS1={{ default_prompt }}
export $PS1
